.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

ul.ins-imgs {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
}

li.ins-imgs-li {
    width: 25%;
    height:auto;
    text-align: center;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.ins-imgs-img img {

    width: 100%;
    height: 200px;
    outline: none;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

div.ins-imgs-img.zoom img {
    max-width: 100%;
}

div.ins-imgs-label {
    padding-top: 5px;
    font: 9px sans-serif;
}

div.ins-imgs-img a:focus {
    outline: none;
}

.advert {
    position: fixed;
    height: 100%;
    width: 10%;
    background-color: red;
    display: block;
    top: 0;
}

.ad1 {
    background-color: green;
    left:0;
}
.ad2 {
    background-color: blue;
    right:0;
}